
/* Course */
.courses{
    overflow-y: scroll;
    /*width: 90%;*/
    height: 180px;
}

.students .btn-group .btn{
    border-left: 1px solid gray;
}
.students .btn-group .btn:first-child{
    border-left: none;
}
